@model IEnumerable<ProyectoPAW.Models.Treceta>

@{
    ViewData["Title"] = "Recetas";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Recetas</h1>

<p>
    <a asp-action="Create">Nueva Receta</a>
</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model) {
    <div class="col">
        <div class="card">
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/assets/images/placeholderCocina.png" class="card-img-top" alt="card example" /></a>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>

                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </div>
        </div>
    </div>
    }
</div>

